* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 1vw;
}

blockquote {
  margin: 0;
}
blockquote > p {
  margin: 0.5rem 0;
}

cite {
  display: block;
  margin-top: 1vw;
  text-align: center;
}
cite > a > span {
  display: block;
}

header {
  background-color: white;
  display: flex;
  padding: 0.5rem;
}
header img {
  height: 3rem;
  width: 3rem;
}
header h1 {
  line-height: 3rem;
  margin: 0 0 0 1rem;
}

footer {
  margin: 1vw 0;
  text-align: center;
}

.bronnen {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  list-style: decimal inside;
  margin: 0;
  padding: 0;
}
.bron {
  background-color: white;
  flex-grow: 1;
  padding: 1vw;
  width: 15em;
}
.bron img {
  display: block;
  height: auto;
  margin-bottom: 1vw;
  max-height: 15em;
  object-fit: contain;
  width: 100%;
}
.bron img:hover {
  cursor: pointer;
}

section > p {
  background-color: white;
  line-height: 1.25rem;
  margin: 0;
  padding: 0.75rem;
}

.aanvulling {
  color: darkgreen;
}

.verduidelijking {
  color: darkgreen;
}
.verduidelijking:before {
  content: "=";
}

.correctie {
  color: crimson;
}
.correctie:before {
  content: "×";
}

.onleesbaar:before {
  content: "???";
  color: orangered;
}

.weggelaten:before {
  content: "…";
  color: black;
}

.lokatie {
  color: inherit;
  text-decoration: none;
}

.informatie {
  color: inherit;
  text-decoration: none;
}

.bronverwijzing {
  color: purple;
  font-size: 80%;
  left: -0.2rem;
  position: relative; 
  top: -0.5em; 
}
.bronverwijzing:hover {
  cursor: pointer;
}

.gekozen {
  background-color: lightyellow;
}

.handtekeningen {
  display: flex;
  justify-content: space-evenly;
}
.handtekening {
  height: 6vw;
  width: auto;
}